*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

::-webkit-scrollbar {
    width: 0.1px;
}
::-webkit-scrollbar-thumb {
    background-color: #EBA756;
    border-radius: 10px;
}
